@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

.text-light-gray {
    color: rgb(94, 92, 92);
}

.btn-primary {
    border: 0;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: rgb(226, 189, 22);
    border-radius: 5px;
}

/* Header section style */
.header-container {
    background-color: beige;
    padding: 0 150px;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header-container nav ul {
    display: flex;

}

.header-container nav li {
    list-style: none;
    padding-left: 30px;
}

.header-container nav li a {
    text-decoration: none;
    color: rgb(73, 62, 62);
}

.brand-group {
    text-align: center;
    margin: 30px auto;
    width: 750px;
}

.brand-group h1 {
    font-size: 3rem;
    font-weight: 700;
}

.brand-group>.btn-primary,
h1,
p,
button {
    margin-bottom: 30px;
}

.brand-group-banner img {
    width: 100%;
    padding-bottom: 30px;

}

/* Main section style */

.main-container {
    padding: 0 150px;
}

.team-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.teams-content {
    margin-left: 40px;
}

.teams {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

/* features style */

.features {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.features .features-card {
    width: 80%;
}

.features .features-img>img {
    width: 100%;
}

.features-content>h1 {
    border-left: 5px solid rgb(224, 156, 8);
    padding-left: 10px;
}

.features-card .card {
    margin-top: 10px;
    box-shadow: 5px 1px 10px 2px rgb(238, 236, 236);
    padding: 10px;
    border-radius: 10px;
}

.features-card .card>h2 {
    color: rgb(37, 43, 26);
    padding-bottom: 10px;
}

/* Some Facts style */
.facts-container>h2 {
    padding: 100px 0 10px 0;
}

.facts-card {
    margin-top: 80px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.facts-card .card {
    border-radius: 10px;
    width: 175px;
    height: 150px;
    border: 1px solid tomato;
    text-align: center;
    padding: 20px 20px 0;
    color: lightseagreen;
}

/* Sponsors style */
.sponsors {
    margin-top: 100px;
}

.sponsors-content {
    width: 450px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-image-container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}


/* responsive Style */

@media screen and (max-width: 576px) {

    .header-container,
    .main-container {
        padding: 0 20px;
    }

    .header-container nav ul {
        padding: 0px 0px;
        text-align: center;
    }

    .header-container nav,
    .team-container,
    .features,
    .facts-card,
    .sponsors-image-container {
        flex-direction: column;
        text-align: center;
    }

    .features .features-card {
        width: 100%;
    }

    .facts-card .card {
        width: 100%;
        height: 100%;
        padding: 20px 0 0;

    }

    .teams {
        grid-template-columns: 1fr;
    }

    .brand-group {
        text-align: center;
        margin: 30px auto;
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width:768px) {

    .header-container,
    .main-container {
        padding: 0 20px;
    }

    .header-container nav,
    .team-container,
    .features,
    .facts-card,
    .sponsors-image-container {
        flex-direction: column;
        text-align: center;
    }

    .facts-card .card {
        width: 100%;
        height: 100%;
        padding: 20px 0 0;

    }

    .features .features-card {
        width: 100%;
    }

    .teams {

        grid-template-columns: 1fr;
    }


    .brand-group {
        text-align: center;
        margin: 30px auto;
        width: 100%;
    }
}